/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-custom {
    background-color: #d6ccc2;
}

@font-face {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Serif'), url('~/Uploads/RobotoSerif-Regular.woff') format('woff'), url('~/Uploads/RobotoSerif-Regular.woff2') format('woff2'), url('~/Uploads/RobotoSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: bold;
    src: local('Roboto Serif Bold'), url('~/Uploads/RobotoSerif-Bold.ttf') format('truetype');
}

* {
    font-family: 'Roboto Serif' , Georgia, serif;
    font-weight: normal;
    font-style: normal;
}

#title {
    font-weight: bold;
}