@{
    ViewBag.Title = "About Us";
}
<main aria-labelledby="title">
    <section>
        <h3 id="title">Magnetic Resonance Imaging (MRI)</h3>
        <ul>
            <li>a noninvasive medical imaging examination that generates intricate images of virtually all internal structures within the human body</li>
            <li>includes organs, bones, muscles, and blood vessels</li>
            <li>involves the use of a substantial magnet and radio waves to produce detailed visualizations of the body's internal anatomy</li>
        </ul>
    </section>
    <hr />
    <section class="row" aria-labelledby="aspnetTitle">
        <img class="col col-6" src="~/Uploads/mri.jpg" alt="MRI Scan" />
        <div class="col">
            <br />
            <h3 id="title">About Us</h3>
            <h6>Ultimate Quality MRI Melbourne</h6>
            <p>Provides you the best MRI service in Melbourne.</p>
            <br />
            <hr />
            <h3 id="title">Contact Us</h3>
            <address>
                Monash University<br />
                Clayton, VIC3168<br />
                <abbr title="Phone">P:</abbr>
                123456789<br />
                <abbr title="Email">Email:</abbr>
                <email>twon0032@student.monash.edu</email>
            </address>
        </div>
    </section>
</main>