@{
    ViewBag.Title = "About Us";
}
<main aria-labelledby="title">
    <br />
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h1 id="gettingStartedTitle">About Us</h1>
            <p><strong>Ultimate Quality MRI Melbourne</strong></p>
            <p>Provides you the best MRI service in Melbourne.</p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h1 id="librariesTitle">Contact Us</h1>
            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>
        </section>
    </div>
</main>