
@{
    ViewBag.Title = "Real Time Communication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="title">@ViewBag.Title</h2>
<p>Welcome to the real-time communcation platform of UQ MRI Melbourne. </p>
<p>Feel free to leave any message here.</p>

<div class="container">
    <form onsubmit="submitMessage(); return false;">
        <div class="form-group">
            <label>Display Name:</label>
            <input type="text" class="form-control" id="displayname" required />
        </div>
        <div class="form-group">
            <br />
            <label>Add Message:</label>
            <input type="text" class="form-control" id="message" required />
        </div>
        <br />
        <button type="submit" class="btn btn-outline-dark" id="sendmessage" value="send">Submit</button>
    </form>

    <hr />
    <h4 id="title">Messages</h4>
    <ul id="discussion" class="list-group"></ul>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function submitMessage() {
            var communication = $.connection.communicationHub;
            communication.client.addNewMessageToPage = function (name, message) {
                $('#discussion').append("<li class='list-group-item'><strong>" + htmlEncode(name)
                    + '</strong>: ' + htmlEncode(message) + '</li>');
            };
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    var displayname = $('#displayname').val();
                    var message = $('#message').val();
                    if (displayname.length == 0 || message.length == 0)
                        return;
                    communication.server.send($('#displayname').val(), $('#message').val());
                    $('#message').val('');
                });
            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}