@{
    ViewBag.Title = "Home";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">UQ MRI Melbourne</h1>
        <p class="lead">Ultimate Quality MRI Melbourne</p>
        <p>Provides you the best MRI service.</p>
    </section>
</main>