@{
    ViewBag.Title = "Home";
}

<main>
    <br />
    <section class="row" aria-labelledby="aspnetTitle">
        <img class="col col-6" src="~/Uploads/mri.jpg" alt="MRI Scan" />
        <div class="col">
            <h3 id="title">UQ MRI Melbourne</h3>
            <p class="lead">Ultimate Quality MRI Melbourne</p>
            <p>Provides you the best MRI service.</p>
            <p>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "btn btn-outline-dark" })</p>
            <br />
            <hr />
            <h3 id="gettingStartedTitle">Find MRI Service Provider</h3>
            <p class="text">
                UQ MRI Melbourne offers a list of MRI service providers for you to choose,
                enables you to have full control over the appointment.
                View all MRI Service Providers available.
            </p>
            <p>
                @Html.ActionLink("Map", "Index", "MRIServiceProviders", new { area = "" }, new { @class = "btn btn-outline-dark" })
            </p>
        </div>
    </section>
</main>